<template>
    <div class="wrapper-content">
        <h1>{{ $t('title.name') }}</h1>
        <div class="searchbox">
            <Form :model="formItem" :label-width="80" inline>
                <FormItem label="用户名">
                    <Input v-model="formItem.input" placeholder="请输入用户名"></Input>
                </FormItem>
                <FormItem label="支付状态">
                    <Select v-model="formItem.select" :value="-1">
                        <Option value="-1" >请选择</Option>
                        <Option value="0">支付成功</Option>
                        <Option value="1">支付失败</Option>
                        <Option value="2">退款中</Option>
                    </Select>
                </FormItem>
                <FormItem :label-width="20">
                    <Button type="primary" @click="submitFn()">查询</Button>
                </FormItem>
            </Form>
        </div>
        <div class="tablebox">
            <Table border :columns="columns12" :data="data6">
                <template slot-scope="{ row }" slot="name">
                    <strong>{{ row.name }}</strong>
                </template>
                <template slot-scope="{ row, index }" slot="action">
                    <div class="operate">
                        <a href="javascript:;" @click="show(index)">查看</a>
                        <a href="javascript:;" @click="edit(index)">编辑</a>
                        <a href="javascript:;" @click="remove(index)">删除</a>
                    </div>
                </template>
            </Table>
        </div>
        <AuthorityEdit :modalcontent="modalcontent" @CloseModel="CloseModel" />
    </div>
</template>

<script>

import AuthorityEdit from './AuthorityEdit.vue'

export default {
    name: 'authority',
    data() {
        return {
            formItem: {
                input: '',
                select: ''
            },
            columns12: [
                {
                    title: 'Name',
                    slot: 'name',
                    key:'name'
                },
                {
                    title: 'Age',
                    key: 'age'
                },
                {
                    title: 'Address',
                    key: 'address'
                },
                {
                    title: 'Action',
                    slot: 'action',
                    width: 150,
                    align: 'center'
                }
            ],
            data6: [
                {
                    name: 'John Brown',
                    age: 18,
                    address: 'New York No. 1 Lake Park'
                },
                {
                    name: 'Jim Green',
                    age: 24,
                    address: 'London No. 1 Lake Park'
                },
                {
                    name: 'Joe Black',
                    age: 30,
                    address: 'Sydney No. 1 Lake Park'
                },
                {
                    name: 'Jon Snow',
                    age: 26,
                    address: 'Ottawa No. 2 Lake Park'
                }
            ],
            modalcontent: {
                title: "",
                Isshow: false
            }
        }
    },
    components: {AuthorityEdit},
    methods: {
        submitFn () {
            console.log(this.formItem);
            this.$Modal.info({
                title: 'User Info',
                content: `Name：${this.formItem.input}<br>Age：${this.formItem.select}`
            })
        },
        show (index) {
            console.log("进入");
            this.modalcontent = {
                title: "查看",
                Isshow: true
            };

            // this.$Modal.info({
            //     title: 'User Info',
            //     content: `Name：${this.data6[index].name}<br>Age：${this.data6[index].age}<br>Address：${this.data6[index].address}`
            // })
        },
        edit (index) {
            this.modalcontent = {
                title: "编辑",
                Isshow: true
            };
        },
        remove (index) {
            this.data6.splice(index, 1);
        },
        CloseModel (data) {
            this.modalcontent.Isshow = false;
        }
    }
}
</script>

<style scoped lang="less">
@import "./../../../assets/css/main.less";
</style>

