<template>
    <div class="modalbox">
        <Modal
            v-model="modal1"
            :title="title"
            @on-ok="ok"
            @on-cancel="cancel">
            <p>Content of dialog</p>
            <p>Content of dialog</p>
            <p>Content of dialog</p>
        </Modal>
    </div>
</template>

<script>
export default {
    data() {
        return {
            modal1: false,
            title:''
        }
    },
    props:['modalcontent'],
    watch:{
        modalcontent: function(Value,oldValue) {
            console.log(Value);
            this.modal1 = Value.Isshow;
            this.title = Value.title;
        }
    },
    methods: {
        ok () {
            alert("确定")
            this.$emit("CloseModel","false");
        },
        cancel () {
            alert('取消');
        }
    }
}
</script>

<style>

</style>
