<template>
    <div class="modalbox">
        <Modal
            v-model="Isshow"
            :title="modalcontent.title"
            :loading="loading"
            @on-ok="ok"
            @on-cancel="cancel">
            <Form v-if="showDialog" ref="formItem" :model="formItem" :label-width="80" :rules="ruleValidate">
                <FormItem :label="$t('User.loginName')" prop="loginName">
                    <Input v-model="formItem.loginName" :readonly="modalcontent.readonly" :placeholder="$t('User.enterloginName')"></Input>
                </FormItem>
                <FormItem :label="$t('User.userName')" prop="userName">
                    <Input v-model="formItem.userName" :readonly="modalcontent.readonly" :placeholder="$t('User.enteruserName')"></Input>
                </FormItem>
                <FormItem :label="$t('User.phone')" prop="phonenumber">
                    <Input v-model="formItem.phonenumber" number :readonly="modalcontent.readonly" :placeholder="$t('User.enterphone')"></Input>
                </FormItem>
                <FormItem :label="$t('User.sex')" prop="sex">
                    <Select v-model="formItem.sex" :value="formItem.sex" :disabled="modalcontent.readonly" :placeholder="$t('User.select')">
                        <template v-for="item in selectList.sex">
                            <Option :value="item.value">{{item.txt}}</Option>
                        </template>
                    </Select>
                </FormItem>
                <FormItem :label="$t('User.status')" prop="status">
                    <Select v-model="formItem.status" :value="formItem.status" :disabled="modalcontent.readonly" :placeholder="$t('User.select')">
                        <template v-for="item in selectList.status">
                            <Option :value="item.value">{{item.txt}}</Option>
                        </template>
                    </Select>
                </FormItem>
                <FormItem :label="$t('User.remark')" prop="remark">
                    <Input v-model="formItem.remark"  type="textarea" :readonly="modalcontent.readonly" :placeholder="$t('User.enterremark')"></Input>
                </FormItem>
            </Form>
        </Modal>
    </div>
</template>

<script>
export default {
    data() {
        let validatephone = function(rule, value, callback){
            if(!value){
                return callback(new Error(this.$t('User.warnphone')));
            }else if(!/^1(3|4|5|7|8)\d{9}$/.test(value)){
                return callback(new Error(this.$t('User.warnphone2')))
            }else{
                callback();
            }
        };
        let validatestatus = function(rule, value, callback){
            if(value < 0) {
                return callback(new Error(this.$t('User.warnstatus')));
            }else {
                callback();
            }
        };
        return {
            Isshow: false,
            loading: true,
            showDialog: true,
            formItem: {
                id: '',
                loginName: '',
                userName: '',
                phonenumber:'',
                sex:'',
                status:'',
                remark: ''
            }
        }
    },
    computed: {
        ruleValidate: function() {
            return {
                loginName: [
                    { required: true, message: this.$t('User.warnloginName'), trigger: 'blur' }
                ],
                userName: [
                    {required: true, message: this.$t('User.warnuserName'), trigger: 'blur',min: 1,max: 15 }
                ],
                phonenumber: [
                    {required: true, message: this.$t('User.warnphone'), trigger: 'blur' },
                    { validator: this.validatephone, trigger: 'blur' }
                ],
                status: [
                    { required: true, message: this.$t('User.warnstatus'), trigger: 'blur'},
                    { validator: this.validatestatus, trigger: 'change'}
                ]
            }
        }
    },
    props:['modalcontent','selectList'],
    watch:{
        modalcontent: function(Value,oldValue) {
            this.Isshow = Value.Isshow;
            // this.showDialog = true;
            if(Value.data) {
                this.formItem = {
                    id: Value.data.id,
                    loginName: Value.data.loginName,
                    userName: Value.data.userName,
                    phonenumber: Value.data.phonenumber,
                    sex: Value.data.sex,
                    status: Value.data.status,
                    remark: Value.data.remark
                }
            }else {
                this.formItem = {
                    loginName: '',
                    userName: '',
                    phonenumber:'',
                    sex:'',
                    status:'',
                    remark: ''
                }
            }
        }
    },
    methods: {
        ok () {
            this.$refs.formItem.validate((valid) => {
                if (valid) {
                    this.$axios.post('/apis/sysUser/saveSysUser',this.formItem)
                    .then( res => {
                        if(res.data.retCode == 'SUCCESS') {
                            this.$Message.success({
                                content: res.data.message,
                                duration: 3
                            });
                            this.$nextTick(() => {
                                this.Isshow = false;
                            });
                            this.$parent.getListData (this.$parent.page.current,this.$parent.page.pageSize,this.$parent.formItem.loginName);
                        }else {
                            this.$Message.success(res.data.message);
                        }
                    })
                    .catch(err => {console.log(err)})
                } else {
                    this.$Message.error({
                        content: '请填写完整信息！'
                    });
                    setTimeout(() => {
                        this.loading = false;
                        this.$nextTick(() => {
                            this.loading = true;
                        });
                    }, 1000);
                }
            })
        },
        cancel () {
            this.showDialog = false;
        }
    }
}
</script>

<style>
</style>
