<template>
    <div class="wrapper-content">
        <h1>{{ $t('User.title') }}</h1>
        <div class="searchbox">
            <Row>
                <Col span="24" :md="22">
                    <Form :model="formItem" :label-width="this.$i18n.locale == 'en'? 102:80" inline>
                        <FormItem :label="$t('User.loginName')">
                            <Input v-model="formItem.loginName" :placeholder="$t('User.enterloginName')"></Input>
                        </FormItem>
                        <FormItem :label-width="20">
                            <Button type="primary" @click="submitFn()">{{ $t('User.query') }}</Button>
                        </FormItem>
                    </Form>
                </Col>
                <Col span="24" :md="2" class-name="right-btn">
                    <Button type="primary" @click="Add()">{{ $t('User.add') }}</Button>
                </Col>
            </Row>
        </div>
        <div class="tablebox">
            <Table border :columns="columns12" :data="listData">
                <template slot-scope="{ row }" slot="id">
                    <strong>{{ row.id }}</strong>
                </template>
                <template slot-scope="{ row }" slot="action">
                    <div class="operate">
                        <a href="javascript:;" @click="show(row)">{{ $t('User.view') }}</a>
                        <a href="javascript:;" @click="edit(row)">{{ $t('User.edit') }}</a>
                        <a href="javascript:;" @click="remove(row)">{{ $t('User.delete') }}</a>
                    </div>
                </template>
            </Table>
            <div style="margin: 10px;overflow: hidden">
                <div style="float: right;">
                    <Page :total="page.total" :current="page.current" :page-size="page.pageSize" :page-size-opts="[10,2,3,4,5]" show-total show-elevator show-sizer @on-change="changePage" @on-page-size-change="changePageSize"></Page>
                </div>
            </div>
        </div>
        <AuthorityEdit :modalcontent="modalcontent" :selectList="selectList" />
    </div>
</template>

<script>

import AuthorityEdit from './UserEdit.vue'
import { dirname } from 'path';

export default {
    name: 'authority',
    data() {
        return {
            formItem: {
                loginName: ''
            },
            listData: [],
            modalcontent: {
                title: "",
                Isshow: false,
                data: {}
            },
            page: {
                total: 0,
                pageSize: 10,
                current: 1
            }
        }
    },
    computed: {
        selectList: function() {
            return {
                status: [
                    {
                        value: '-1',
                        txt: this.$t('User.select'),
                    },
                    {
                        value: '0',
                        txt: this.$t('User.normal'),
                    },
                    {
                        value: '1',
                        txt: this.$t('User.disable'),
                    }
                ],
                sex: [
                    {
                        value: '-1',
                        txt: this.$t('User.select'),
                    },
                    {
                        value: '0',
                        txt: this.$t('User.female'),
                    },
                    {
                        value: '1',
                        txt: this.$t('User.male'),
                    } 
                ]
            }
        },
        columns12: function() {
            return [
                {
                    title: 'ID',
                    slot: 'id',
                    key:'id'
                },
                {
                    title: this.$t('User.loginName'),
                    key: 'loginName'
                },
                {
                    title: this.$t('User.phone'),
                    key: 'phonenumber'
                },{
                    title: this.$t('User.status'),
                    key: 'status',
                    render: (h,params) => {
                        let statustxt = '';
                        this.selectList.status.forEach(element => {
                            if(element.value == params.row.status) {
                                statustxt = element.txt;
                                return false;
                            }
                        });
                        return h('div',statustxt);
                    }
                },
                {
                    title: this.$t('User.createBy'),
                    key: 'createBy'
                },
                {
                    title: this.$t('User.createTime'),
                    key: 'createTime'
                },
                {
                    title: this.$t('User.remark'),
                    key: 'remark'
                },
                {
                    title: this.$t('User.action'),
                    slot: 'action',
                    width: 150,
                    align: 'center'
                }
            ]
        }
    },
    components: {AuthorityEdit},
    created () {
        this.getListData(1,10,'');
    },
    methods: {
        getListData (page,limit,loginName) {
            this.$axios.get("/apis/sysUser/userListData?page="+page+"&limit="+limit+"&loginName="+loginName)
            .then(res => {
                this.page.total = res.data.count;
                this.listData = res.data.data;
            })
            .catch(err => {console.log(err)})
        },
        submitFn () {
            this.getListData(this.page.current,this.page.pageSize,this.formItem.loginName);
        },
        Add () {
            this.modalcontent = {
                title: this.$t('User.add'),
                Isshow: true,
                readonly: false
            };
        },
        show (data) {
            this.modalcontent = {
                title: this.$t('User.view'),
                Isshow: true,
                readonly: true,
                data: data
            };
        },
        edit (data) {
            this.modalcontent = {
                title: this.$t('User.edit'),
                Isshow: true,
                readonly: false,
                data: data
            };
        },
        remove (data) {
            this.$Modal.confirm({
                title: this.$t('User.prompt'),
                content: this.$t('User.delwarn'),
                onOk: () => {
                    this.$axios.get('/apis/sysUser/delSysUserById?id='+data.id)
                    .then( res => {
                        if(res.data.retCode == 'SUCCESS') {
                            this.$Message.success({
                                content: res.data.message,
                                duration: 3
                            });
                            this.$nextTick(() => {
                                this.Isshow = false;
                            });
                            this.getListData (this.page.current,this.page.pageSize,this.formItem.loginName);
                        }else {
                            this.$Message.success(res.data.message);
                        }
                    })
                    .catch(err => {console.log(err)})
                }
            })
        },
        changePage (currentpage) {
            this.page.current = currentpage;
            this.getListData (currentpage,this.page.pageSize,this.formItem.loginName);
        },
        changePageSize (pagesize) {
            this.page.pageSize = pagesize;
            this.getListData (this.page.current,pagesize,this.formItem.loginName)
        }
    }
}
</script>

<style scoped lang="less">
@import "./../../../assets/css/main.less";
</style>