@deep: ~'>>>';
//zhengti-dabiaoti
.wrapper-content {
    padding: 20px 25px;
    position: relative;
     @{deep} h1 {
        font-size: 26px;
        font-weight: 400;
        margin: 12px 0;
    }
}
//chaxunkuang
@{deep}.searchbox {
    margin-top: 20px;
    .ivu-form {
        .ivu-select {
            min-width: 190px;
        }
    }
    .right-btn {
        text-align: right;
        margin-bottom: 24px;
    }
}
//biaoge
@{deep}.tablebox {
    .operate {
        a {
            margin: 0 3px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .ivu-select {
        width: auto;
    }
}
//page
@{deep}.pagebox {
    margin: 10px;
    overflow: hidden;
    .pagecontent {
        float: right;
    }
}