<template>
    <div class="login">
        <Form ref="loginForm" :model="formItem" :rules="rules" label-position="top" class="loginform">
            <h1 class="title">商户中心</h1>
            <FormItem label="登录邮箱" prop="email">
                <Input v-model="formItem.email" placeholder="请输入邮箱"></Input>
            </FormItem>
            <FormItem label="密码" prop="password">
                <Input type="password" v-model="formItem.password" placeholder="请输入密码"></Input>
            </FormItem>
            <FormItem>
                <Button type="primary" @click="SubmitForm()">登录</Button>
            </FormItem>
            <p class="register" @click="Register">注册</p>
        </Form>
    </div>
</template>
<script>
    export default {
        data () {
            const validatePass = (rule, value, callback) => {
                 var psdrule = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
                if (value === '') {
                    callback(new Error('请输入密码'));
                }else if (psdrule.test(value)) {
                    callback();
                }else {
                    callback(new Error('密码为6-12位，含数字、字母、符合至少两种'));
                }
            };
            return {
                formItem: {
                    email: '',
                    password:''
                },
                rules: {
                    email: [
                        { required: true, type: 'email', message: '请输入正确邮箱', trigger: 'blur'}
                    ],
                    password: [
                        { required: true, validator: validatePass, trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            SubmitForm() {
                this.$refs.loginForm.validate((valid) => {
                    if(valid) {
                        this.formItem.password = this.$md5(this.formItem.password);
                        this.$api.login.userLogin(this.formItem)
                             .then((res) => {
                                if(res.data.retCode == 'SUCCESS') {
                                    let token = res.data.token;
                                    let email = res.data.email;
                                    //UserLogin store-index.js里的actions方法
                                    this.$store.dispatch('UserLogin', token);
                                    this.$store.dispatch('UserEmail', email);
                                    this.$Message.info(res.data.message);
                                    this.$router.push('/userlist');
                                }else if(res.data.retCode == 'FAILURE') {
                                    this.$Message.info(res.data.message);
                                }
                             })
                             .catch(err => console.log(err) )
                    }else {
                        this.$Message.info("请输入正确信息！");
                    }
                })
            },
            Register () {
                this.$router.push('/register');
            }
        }
    }
</script>

<style lang="less" scoped>
@deep: ~'>>>';
    .login {
        width: 100vw;
        height: 100vh;
        position: relative;
        background: url("../assets/images/login_bg.jpg") no-repeat center center / 100% 100%;
    }
    .loginform {
        width: 300px;
        padding: 20px 30px 10px;
        background: #fff;
        border-radius: 6px;
        border: 1px solid #ddd;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
    @{deep}.ivu-btn {
        width: 100%;
    }
    .title {
        margin-bottom: 24px;
        text-align: center;
    }
    .register {
        text-align: center;
        color: #39f;
        cursor: pointer;
    }
</style>

