<template>
    <div class="login">
        <Form ref="registerForm" :model="formItem" :rules="ruleForm" label-position="top" class="loginform">
            <h1 class="title">注册</h1>
            <FormItem label="登录邮箱" prop="email">
                <Input v-model="formItem.email" placeholder="请输入邮箱"></Input>
            </FormItem>
            <FormItem label="用户名" prop="name">
                <Input v-model="formItem.name" placeholde   placeholder="请输入用户名"></Input>
            </FormItem>
            <FormItem label="密码" prop="password">
                <Input type="password" v-model="formItem.password" placeholder="请输入密码"></Input>
            </FormItem>
            <FormItem label="确认密码" prop="passwordCheck">
                <Input type="password" v-model="formItem.passwordCheck" placeholder="请再次输入密码"></Input>
            </FormItem>
            <FormItem>
                <Button type="primary" @click="SubmitForm()">登录</Button>
            </FormItem>
        </Form>
    </div>
</template>
<script>
    export default {
        data () { 
            const validatePass = (rule, value, callback) => {
                 var psdrule = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
                if (value === '') {
                    callback(new Error('请输入密码'));
                }else if (psdrule.test(value)) {
                    if (this.formItem.passwordCheck !== '') {
                        // 对第二个密码框单独验证
                        this.$refs.registerForm.validateField('passwordCheck');
                    }
                    callback();
                }else {
                    callback(new Error('密码为6-12位，含数字、字母、符合至少两种'));
                }
            };
            const validatePassCheck = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'))
                }else if (value !== this.formItem.password) {
                    callback(new Error('两次密码不一致'));
                } else {
                    callback();
                }
            };
            return {
                formItem: {
                    email: '',
                    name: '',
                    password:'',
                    passwordCheck: ''
                },
                ruleForm: {
                    email: [
                        { required: true, type: 'email', message: '请输入正确邮箱！', trigger: 'blur'}
                    ],
                    name: [
                        { required: true, message: '至少两个字符！', min: 2, trigger: 'blur'}
                    ],
                    password: [
                        {required: true, validator: validatePass, trigger: 'blur'}
                    ],
                    passwordCheck: [
                        {required: true, validator: validatePassCheck, trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            SubmitForm() {
                this.$refs.registerForm.validate((valid) => {
                    if(valid) {
                       this.formItem.password = this.$md5(this.formItem.password);
                       this.formItem.passwordCheck = this.$md5(this.formItem.passwordCheck);
                       this.$api.login.userRegister(this.formItem)
                           .then(res => {
                               if(res.data.retCode == 'SUCCESS') {
                                    let token = res.data.token;
                                    let email = res.data.email;
                                    this.$Message.info(res.data.message);
                                    this.$router.push('/login');
                                }else if(res.data.retCode == 'FAILURE') {
                                    this.$Message.info(res.data.message);
                                }
                            })
                            .catch(err => {alert(err)})
                    }else {
                        this.$Message.info("请输入正确信息！");
                    }
                })
            }
        }
    }
</script>

<style lang="less" scoped>
@deep: ~'>>>';
    .login {
        width: 100vw;
        height: 100vh;
        position: relative;
        background: url("../assets/images/login_bg.jpg") no-repeat center center / 100% 100%;
    }
    .loginform {
        width: 390px;
        padding: 20px 30px 10px;
        background: #fff;
        border-radius: 6px;
        border: 1px solid #ddd;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
    @{deep}.ivu-btn {
        width: 100%;
    }
    .title {
        margin-bottom: 24px;
        text-align: center;
    }
</style>

