<template>
    <Row class="herder">
        <Col span="17">
            <div class="logotxt">{{ $t('title.title') }}</div>
        </Col>
        <Col span="5">
            <ul class="usemsg clearfix">
                <li class="fr quit" @click="Quit">退出</li>
                <li class="fr">
                    <span class="headimg"><img src="../assets/images/wd_tx@2x.png" alt=""></span>
                    <span class="username">{{username}}</span>
                </li>
            </ul>
        </Col>
        <Col span="2" class-name="clearfix">
            <Form ref="formInline" :model="formItem" :value="formItem.language">
                <Select v-model="formItem.language" @on-change="changeLanguage" class="lang">
                    <Option v-for="item in languages" :value="item.value" :key="item.value">{{ item.label }}</Option>
                </Select>
            </Form>
        </Col>
    </Row>
</template>
<script>
import store from '../store/index';
export default {
    name: 'headerbar',
    data() {
        return {
            username: '',
            formItem: {
                language: 'zh'
            },
            languages: [
                {
                    value: 'zh',
                    label: '中文'
                },{
                    value: 'en',
                    label: 'ENGLISH'
                }
            ]
        }
    },
    created () {
        this.username = store.state.email;
    },
    methods: {
        changeLanguage (val) {
            this.$i18n.locale = val;
        },
        Quit () {
            this.$store.dispatch('UserLogout');
            this.$Message.info('退出成功！');
            this.$router.push('/login');
        }
    }
}
</script>
<style scoped lang="less">
ul,li {list-style: none;}
.herder {
    width: 96%;
    height: 65px;
    line-height: 65px;
    padding: 0;
    background: #fff;
    margin: 0 auto;
    .logotxt {
        font-size: 24px;
        color: #505050;
        max-width: 200px;
        height: 65px;
        line-height: 65px;
    }
    .usemsg {
        font-size: 14px;
        color: #505050;
        height: 40px;
        margin: 12px 0 13px;
        li {
            height: 40px;
            line-height: 40px;
            margin-right: 20px;
        }
        .headimg {
            display: inline-block;
            width: 40px;
            height: 40px;
            vertical-align: middle;
            border-radius: 50%;
            margin-right: 8px;
            img {
                width: 100%;
            }
        }
    }
    .ivu-menu-horizontal {
        height: 65px;
        line-height: 65px;
        &.ivu-menu-light:after {
            height: 0;
        }
    }
    .lang {
        width:auto;
        float:right;
        margin-top: 17px;
    }
}
.quit {
    cursor: pointer;
}
</style>


