<template>
  <div class="layout">
    <Header ref="head">
      <HeaderBar />
    </Header>
    <Layout ref="main" class="main">
      <Row>
        <Col span="4">
          <LeftSide ref="leftside" :LeftSidesData="LeftSidesData" :activeName="activeName" :style="mainHeight" />
        </Col>
        <Col span="20">
          <Content class="content" :style="mainHeight">
            <router-view/>
          </Content>
        </Col>
      </Row>
    </Layout>
  </div>
</template>

<script>
import HeaderBar from './HeaderBar.vue'
import LeftSide from './LeftSide.vue'

export default {
  name: 'layout',
  data() {
    return {
      mainHeight:{
　　　　　　height:''
　　　　},
      activeName: 3,
      LeftSidesData: [
        {
          menuName: "系统管理",
          children: [
            {
              id: 1,
              menuName: "权限管理"
            },
            {
              id: 2,
              menuName: "中英切换页"
            }
          ]
        },
        {
          menuName: "用户管理",
          children: [
            {
              id: 3,
              menuName: "用户列表"
            }
          ]
        }
      ]
    }
  },
  components:{
    HeaderBar,
    LeftSide
  },
  mounted() {
    let windowH = window.innerHeight;
    let headH = this.$refs.head.$el.offsetHeight+15;
    let mainH = this.$refs.main.$el.offsetHeight;
    // let footerH = this.$refs.footer.offsetHeight;
    let actualH = headH+mainH;
    if(windowH > actualH) {
      this.mainHfn(windowH-headH);
    }else {
      this.mainHfn(mainH);
    }
  },
  created() {
    let activeName = JSON.parse(sessionStorage.getItem("activeName"));
    if(activeName) {
      this.activeName = activeName;
    }
  },
  methods: {
    mainHfn(numh) {
      this.mainHeight.height = numh+"px";
    }
  }
}
</script>

<style scoped lang="less">
  @import 'Layout.less';
</style>
