//头部
.ivu-layout-header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    height: 65px;
    line-height: 65px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .08);
}
//内容
.main {
    margin-top: 80px;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

