<template>
    <Menu ref="leftMenu" width="auto" @on-select="changeMenu">
        <template v-for="LeftSide in LeftSidesData">
            <MenuItem v-if="!LeftSide.children" :name="LeftSide.id" :key="'menuitem' + LeftSide.id">
                <Icon type="ios-analytics" />
                <span class="layout-text" :key="'title' + LeftSide.menuName">{{LeftSide.menuName}}</span>
            </MenuItem>
            <Submenu v-if="LeftSide.children" :name="LeftSide.id" :key="LeftSide.id">
                <template slot="title">
                    <Icon type="ios-analytics" />
                    <span class="layout-text">{{LeftSide.menuName}}</span>
                </template>
                <template v-for="child in LeftSide.children">
                    <MenuItem :name="child.id" :key="'menuitem' + child.menuName">
                        <span class="layout-text" :key="'title' + child.menuName">{{child.menuName}}</span>
                    </MenuItem>
                </template> 
            </Submenu>
        </template>
    </Menu>
</template>
<script>
export default {
    name: 'leftside',
    data() {
        return {
            data:[]
        }
    },
    props:['LeftSidesData'],
    watch:{
    },
    created() {
    },
    methods: {
        changeMenu(active) {
            alert(1);
            
            // let willpush = true
            // if (this.beforePush !== undefined) {
            //     if (!this.beforePush(active)) {
            //     willpush = false
            //     }
            // }
            // if (willpush) {
            //     this.$router.push({
            //     name: active
            //     })
            // }
        }
    }
}
</script>
<style scoped lang="less">
@import 'Layout.less';
</style>
