<template>
    <Menu class="leftside" ref="leftMenu" width="auto" :active-name="activeName" @on-select="changeMenu">
        <template v-for="LeftSide in LeftSidesData">
            <MenuGroup :title="LeftSide.menuName">
                <template v-for="child in LeftSide.children">
                    <MenuItem :name="child.id">
                        <Icon type="md-document" />
                        {{child.menuName}}
                    </MenuItem>
                </template>
            </MenuGroup>
        </template>
    </Menu>
</template>
<script>
export default {
    name: 'leftside',
    data() {
        return {
            data:[]
        }
    },
    props:['LeftSidesData','activeName'],
    watch:{
        activeName: function(Value, oldValue) {
            if(Value == 1) {
                this.changeMenu(Value);
            }
        }
    },
    created() {
    },
    methods: {
        changeMenu(active) {
            let willpush = true
            if (this.beforePush !== undefined) {
                if (!this.beforePush(active)) {
                willpush = false
                }
            }
            if (willpush) {
                this.$router.push({
                name: active
                })
                sessionStorage.setItem("activeName",active);
            }

        }
    }
}
</script>
<style scoped lang="less">
@deep: ~'>>>';
.leftside {
    padding-top: 20px;
}
.ivu-menu-vertical {
    @{deep} .ivu-menu-item-group-title {
        font-size: 16px;
    }
    .ivu-menu-item, .ivu-menu-submenu-title {
        padding-left: 40px;
    }
    .ivu-menu-item-active {
        background: #f0faff;
    }
}
</style>
