<template>
    <div class="modalbox">
        <Modal
            v-model="Isshow"
            :title="modalcontent.title"
            :loading="loading"
            @on-ok="ok"
            @on-cancel="cancel">
            <Form v-if="showDialog" ref="userForm" :model="formItem" :rules="ruleForm" :label-width="80">
                <FormItem label="登录邮箱" prop="email">
                    <Input v-model="formItem.email" :readonly="modalcontent.readonly" placeholder="请输入邮箱"></Input>
                </FormItem>
                <FormItem label="用户名" prop="name">
                    <Input v-model="formItem.name" :readonly="modalcontent.readonly" placeholder="请输入用户名"></Input>
                </FormItem>
                <FormItem label="手机号" prop="phone">
                    <Input v-model="formItem.phone" number :readonly="modalcontent.readonly" placeholder="请输入手机号"></Input>
                </FormItem>
                <FormItem label="性别" prop="sex">
                    <Select v-model="formItem.sex" :value="formItem.sex" :disabled="modalcontent.readonly" placeholder="请选择">
                            <Option value="0">请选择</Option>
                            <Option value="1">男</Option>
                            <Option value="2">女</Option>
                    </Select>
                </FormItem>
                <FormItem label="修改密码" prop="switch" v-if="modalcontent.switch">
                    <i-switch v-model="formItem.switch" size="large" @on-change="Switch">
                        <span slot="open">是</span>
                        <span slot="close">否</span>
                    </i-switch>
                </FormItem>
                <FormItem label="原密码" prop="oldpassword" v-if="changePsd && title == '编辑'">
                    <Input type="password" v-model="formItem.oldpassword" placeholder="请输入密码"></Input>
                </FormItem>
                <FormItem label="新密码" prop="password" v-if="changePsd">
                    <Input type="password" v-model="formItem.password" placeholder="请输入密码"></Input>
                </FormItem>
                <FormItem label="确认密码" prop="passwordCheck" v-if="changePsd">
                    <Input type="password" v-model="formItem.passwordCheck" placeholder="请再次输入密码"></Input>
                </FormItem>
                <FormItem label="注册时间" prop="date" v-if="modalcontent.readonly" :readonly="modalcontent.readonly">
                    <Input v-model="formItem.date"></Input>
                </FormItem>
            </Form>
        </Modal>
    </div>
</template>

<script>
export default {
    name: 'useredit',
    data() {
        const validatePass = (rule, value, callback) => {
                var psdrule = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
            if (value === '') {
                callback(new Error('请输入密码'));
            }else if (psdrule.test(value)) {
                if (this.formItem.passwordCheck !== '') {
                    // 对第二个密码框单独验证
                    this.$refs.userForm.validateField('passwordCheck');
                }
                callback();
            }else {
                callback(new Error('密码为6-12位，含数字、字母、符合至少两种'));
            }
        };
        const validatePassCheck = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请再次输入密码'))
            }else if (value !== this.formItem.password) {
                callback(new Error('两次密码不一致'));
            } else {
                callback();
            }
        };
        const oldPsdCheck = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请输入原密码'))
            }else if (this.$md5(value) != this.checkPsd) {
                callback(new Error('原密码错误'));
            } else {
                callback();
            }
        };
        const validatephone = (rule, value, callback) => {
            var phonerule = /^1[3456789]\d{9}$/;
            if(value != '' && !phonerule.test(value)) {
                callback(new Error('请输入正确手机号'));
            } else {
                callback();
            }
        }
        return {
            Isshow: false,
            loading: true,
            showDialog: true,
            changePsd: true,
            checkPsd: '',
            title: '',
            formItem: {
                _id: '',
                email: '',
                name: '',
                phone: '',
                sex:'',
                switch: '',
                oldpassword: '',
                password: '',
                passwordCheck: '',
                date:''
            },
            ruleForm: {
                email: [
                    {required: true, type: 'email', message: '请输入邮箱！', trigger: 'blur'}
                ],
                name: [
                    { required: true, message: '至少两个字符！', min: 2, trigger: 'blur'}
                ],
                oldpassword: [
                    {required: true, validator: validatePass, trigger: 'blur'}
                ],
                password: [
                    {required: true, validator: validatePass, trigger: 'blur'}
                ],
                passwordCheck: [
                    {required: true, validator: validatePassCheck, trigger: 'blur'}
                ],
                phone: [
                    {validator: validatephone, trigger: 'blur'}
                ]
            }
        }
    },
    props: ['modalcontent'],
    watch: {
        modalcontent: function(Value,oldValue) {
            this.Isshow = Value.Isshow;
            this.title = Value.title;
            this.showDialog = true;
            if(Value.data) {
                this.changePsd = false;
                this.checkPsd = Value.data.password;
                Value.data.date = this.$moment(new Date(Value.data.date).getTime()).format('YYYY-MM-DD HH:mm:ss')
                this.formItem = Value.data;
            }else {
                this.changePsd = true;
                this.formItem = {
                    _id: '',
                    email: '',
                    name: '',
                    phone: '',
                    sex:'',
                    switch: '',
                    password: '',
                    passwordCheck: '',
                    date:''
                }
            }
        }
    },
    created () { 
    },
    methods: {
        ok () {
            this.$refs.userForm.validate((valid) => {
                if(valid) {
                    if(this.title === "添加") {
                        this.Add();
                    } else if(this.title === "查看") {
                        this.$nextTick(() => {
                            this.Isshow = false;
                        });
                    } else if(this.title === "编辑") {
                        this.Edit();
                    }
                    
                } else {
                    this.$Message.info('请输入正确信息！');
                    setTimeout(() => {
                        this.loading = false;
                        this.$nextTick(() => {
                            this.loading = true;
                        });
                    }, 1000);
                }
            })
        },
        cancel () { 
            this.showDialog = false;
        },
        Add () {
            this.formItem.password = this.$md5(this.formItem.password);
                this.formItem.passwordCheck = this.$md5(this.formItem.passwordCheck);
                this.$api.login.userRegister(this.formItem)
                    .then(res => {
                        if(res.data.retCode == 'SUCCESS') {
                            this.$Message.info('添加成功');
                            this.$nextTick(() => {
                                this.Isshow = false;
                                this.$parent.getListData (this.$parent.page.current,this.$parent.page.pageSize,this.$parent.formItem.name);
                            });
                        }else if(res.data.retCode == 'FAILURE') {
                            this.$Message.info(res.data.message);
                        }
                    })
                    .catch(err => {console.log(err)})
        },
        Edit () {
            if(this.formItem.switch && this.$md5(this.formItem.oldpassword) != this.checkPsd) {
                this.$Message.info('原密码错误');
                setTimeout(() => {
                    this.loading = false;
                    this.$nextTick(() => {
                        this.loading = true;
                    });
                }, 1000);
                return false;
            }

            if(this.formItem.switch) {
                this.formItem.password = this.$md5(this.formItem.password);
            }
            
            this.$api.user.updateUser(this.formItem)
                .then(res => {
                    if(res.data.retCode == 'SUCCESS') {
                        this.$Message.info(res.data.message);
                        this.$nextTick(() => {
                            this.Isshow = false;
                            this.$parent.getListData (this.$parent.page.current,this.$parent.page.pageSize,this.$parent.formItem.name);
                        });
                    }
                })
                .catch(err => {console.log(err)})
        },
        Switch (data) {
            if(data) {
                this.changePsd = true;
                this.formItem.password = '';
                this.formItem.passwordCheck = '';
            }else {
                this.changePsd = false;
                this.formItem.password = this.checkPsd;
                this.formItem.passwordCheck = this.checkPsd;
            }
        }
    }
}
</script>

<style>
</style>
