<template>
    <div class="wrapper-content">
        <h1>用户列表</h1>
        <div class="searchbox">
            <Row>
                <Col span="24" :md="22">
                    <Form :model="formItem" :label-width="80" inline>
                        <FormItem label="用户名">
                            <Input v-model="formItem.name" placeholder="请输入用户名"></Input>
                        </FormItem>
                        <FormItem :label-width="20">
                            <Button type="primary" @click="submitFn()">查询</Button>
                        </FormItem>
                    </Form>
                </Col>
                <Col span="24" :md="2" class-name="right-btn">
                    <Button type="primary" @click="Add()">添加</Button>
                </Col>
            </Row>
        </div>
        <div class="tablebox">
            <Table border :columns="columns12" :data="listData">
                <template slot-scope="{ row }" slot="email">
                    <strong>{{ row.email }}</strong>
                </template>
                <template slot-scope="{ row }" slot="action">
                    <div class="operate">
                        <a href="javascript:;" @click="show(row)">查看</a>
                        <a href="javascript:;" @click="edit(row)">编辑</a>
                        <a href="javascript:;" @click="del(row)">删除</a>
                    </div>
                </template>
            </Table>
            <div class="pagebox">
                <div class="pagecontent">
                    <Page :total="page.total" :current="page.current" :page-size="page.pageSize" :page-size-opts="[10,2,3,4,5]" show-total show-elevator show-sizer @on-change="changePage" @on-page-size-change="changePageSize"></Page>
                </div>
            </div>
        </div>
        <UserEdit :modalcontent = "modalcontent" />
    </div>
</template>

<script>

import { dirname } from 'path'
import UserEdit from './UserEdit.vue'

export default {
    name: 'userlist',
    data() {
        return {
            formItem: {
                name: ''
            },
            listData: [],
            page: {
                total: 0,
                pageSize: 10,
                current: 1
            },
            modalcontent: {
                title: "",
                Isshow: false,
                readonly: false,
                id: ''
            },
            selectList: {
                sex: [
                    {
                        value: 0,
                        txt: ''
                    },
                    {
                        value: 1,
                        txt: '男'
                    },
                    {
                        value: 2,
                        txt: '女'
                    }
                ]
            },
            delModel: false
        }
    },
    computed: {
        columns12: function() {
            return [
                {
                    title: '登录邮箱',
                    slot: 'email',
                    key: 'email'
                },
                {
                    title: '用户名',
                    key: 'name'
                },
                {
                    title: '注册时间',
                    key: 'date',
                    render: (h,params) => {
                        let date = new Date(params.row.date).getTime();
                        return h('div', this.$moment(date).format('YYYY-MM-DD HH:mm:ss'))
                    }
                },
                {
                    title: '手机号',
                    key: 'phone'
                },
                {
                    title: '性别',
                    key: 'sex',
                    render: (h,params) => {
                        let statustxt = '';
                        this.selectList.sex.forEach(element => {
                            if(element.value == params.row.sex) {
                                statustxt = element.txt;
                                return false;
                            }
                        });
                        return h('div',statustxt);
                    }
                },
                {
                    title: '操作',
                    slot: 'action',
                    width: 150,
                    align: 'center'
                }
            ]
        }
    },
    components: {UserEdit},
    created () {
        this.getListData(1,10,'');
    },
    methods: {
        getListData (page,rows,name) {
            let data = {
                page: page,
                rows: rows,
                name: name
            }
            this.$api.user.getUser(data)
                 .then(res => {
                    if(res.status == 400) {
                        this.$Message.info(res.data);
                    }else {
                        if(res.data.retCode == 'SUCCESS') {
                            this.page.total = res.data.data.count;
                            this.listData = res.data.data.list;
                        }
                    }
                 })
                .catch(err => {console.log(err)})
        },
        changePage (currentpage) {
            this.page.current = currentpage;
            this.getListData (currentpage,this.page.pageSize,this.formItem.name);
        },
        changePageSize (pagesize) {
            this.page.pageSize= pagesize;
            this.getListData (this.page.current,pagesize,this.formItem.name)
        },
        submitFn () {
            // console.log(this.formItem);
            this.getListData (this.page.current,this.page.pageSize,this.formItem.name)
        },
        Add () {
            this.modalcontent = {
                title: "添加",
                Isshow: true,
                readonly: false
            }
        },
        show (data) {
            this.modalcontent = {
                title: "查看",
                Isshow: true,
                readonly: true,
                data: data
            }
        },
        edit (data) {
            this.modalcontent = {
                title: "编辑",
                Isshow: true,
                readonly: false,
                switch: true,
                data: data
            }
        },
        del (data) {
            this.$Modal.confirm({
                title: '提示',
                content: '确定要删除吗？',
                onOk: () => {
                    this.$api.user.delUser(data)
                        .then(res => {
                            if(res.data.retCode == 'SUCCESS') {
                                this.$Message.info(res.data.message);
                                this.getListData (this.page.current,this.page.pagesize,this.formItem.name)
                            }else {
                                this.$Message.info('删除失败');
                            }
                        })
                        .catch(err => console.log(err))
                }
            })
        }
    }
}
</script>

<style scoped lang="less">
@import "./../../assets/css/main.less";
</style>